.navPrincipal {
    button {
        background-color: var(--color-tertiary);
        border: none;
        border-radius: 8px;
        padding: 10px 21px;

        font-weight: var(--fw-bold);

        cursor: pointer;
        transition: color 0.3s ease-out;

        &:hover {
            color: var(--color-secondary);
        }
    }
}

.hero {
    button {
        background-color: var(--color-primary);
        color: var(--color-white);
        border: none;
        border-radius: 8px;
        padding: 16px 58px;

        font-weight: var(--fw-bold);

        cursor: pointer;
        transition: color 0.3s ease-out;

        &:hover {
            color: var(--color-tertiary);
        }
    }
}
