.groupeForfaits {
    h2 {
        text-align: center;
    }

    p:nth-child(2) {
        font-size: var(--font-size-text-secondaire);
        margin: 0;
        text-align: center;
    }
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;

        margin-top: 48px;

        article {
            width: 30%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            transition: all 0.3s ease-out;
            cursor: pointer;

            &:hover {
                background-color: var(--color-bg-secondary);
                border-radius: 8px;
            }

            &:nth-child(-n + 3) {
                margin-bottom: 64px;
            }
            h3 {
                color: var(--color-tertiary);
            }
            .prix {
                font-size: var(--font-size-h4);
                font-weight: var(--fw-bold);
            }
        }
    }
}

@media screen and (max-width: $breakpoint-sm) {
    .groupeForfaits {
        h2,
        p:nth-child(2) {
            text-align: left;
        }
        .wrapper {
            flex-direction: column;
            article {
                width: 100%;
                p {
                    padding: 0 20px;
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-xs) {
    .groupeForfaits {
        .wrapper {
            text-align: left;

            article {
                flex-direction: row;
                align-items: flex-start;
                margin-bottom: 40px;
                h3 {
                    margin: 0;
                }
                .prix {
                    display: none;
                }
                div {
                    padding-left: 40px;
                }
                p {
                    padding: 0;
                }

                &:nth-child(-n + 3) {
                    margin-bottom: 40px;
                }
            }
        }
    }
}
