.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    .texteHero {
        width: 50%;
        margin: 0 10%;
        h1 {
            font-family: var(--font-secondary);
        }
        .dates {
            font-weight: var(--fw-bold);
            color: var(--color-tertiary);
        }
    }
    img {
        width: 50%;
    }
}

@media screen and (max-width: $breakpoint-sm) {
    .hero {
        flex-direction: column-reverse;
        align-items: flex-start;
        img {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }

        .texteHero {
            padding-bottom: 70px;
        }
    }
}

@media screen and (max-width: $breakpoint-xs) {
    .hero {
        .texteHero {
            h1 {
                font-size: var(--font-size-375-h1);
            }
            p,
            button {
                font-size: var(--font-size-375-content);
            }
        }
    }
}
