header {
    background-color: var(--color-primary);

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navPrincipal {
        display: flex;
    }

    ul {
        display: flex;
        li {
            margin-right: 32px;
        }
    }
    img {
        margin: 20px 0;
    }
}
