.partenaires {
    background-color: var(--color-black);
    padding: 32px 0;
    h2 {
        font-family: var(--font-secondary);
        color: var(--color-tertiary);
        margin: 0;
        text-align: center;
        padding-bottom: 40px;
    }
    .logosPartenaires {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        img {
            width: 23%;
        }
    }
}

@media screen and (max-width: $breakpoint-sm) {
    .partenaires {
        h2 {
            text-align: left;
            font-size: var(--font-size-768-h2);
        }
        .logosPartenaires {
            img {
                width: 47%;
                margin-bottom: 50px;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-xs) {
    .partenaires {
        h2 {
            font-size: var(--font-size-375-h2);
        }
    }
}
