/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-primary);
    line-height: 1.4;
    font-weight: bold;
}

h1 {
    font-size: var(--font-size-h1);
    text-transform: uppercase;
}

h2 {
    font-size: var(--font-size-h2);
    text-transform: uppercase;
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

h5 {
    font-size: var(--font-size-h5);
}
