/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    max-width: $breakpoint-lg;
    margin: 0 auto;
}

// Utilisation du css Layout Grid pour faire le wrapper
.grid-wrapper {
    display: grid;
    grid-template-columns: auto minmax($breakpoint-xs, $breakpoint-md) auto;
    grid-column-gap: 30px;
}

.grid-center {
    grid-column: 2/3;
}

@media screen and (max-width: $breakpoint-lg) {
    .wrapper {
        max-width: $breakpoint-md;
    }
}

@media screen and (max-width: $breakpoint-md) {
    .wrapper {
        max-width: $breakpoint-sm;
    }
}

@media screen and (max-width: $breakpoint-sm) {
    .wrapper {
        max-width: $breakpoint-xs;
    }
}

@media screen and (max-width: $breakpoint-xs) {
    .wrapper {
        max-width: $breakpoint-xxs;
    }
}
