/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #ff00ff;
    --color-primary-darker: #380138;
    --color-secondary: #ff9;

    --color-bg-primary: var(--color-white);
    --color-bg-secondary: #ff0000;
}
