/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #18191f;
    --color-secondary: #ecd7e7;
    --color-tertiary: #20c8a4;

    --color-bg-primary: #fefbf2;
    --color-bg-secondary: #f4f1df;
}
