/* ==========================================================================
   DIMENSIONS / SETTINGS
   ========================================================================== */

// Valeurs utilisées pour les médias query
$breakpoint-xxs: 305px;
$breakpoint-xs: 375px;
$breakpoint-sm: 768px;
$breakpoint-md: 1100px;
$breakpoint-lg: 1440px;
$breakpoint-xl: 1920px;
