/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&family=Nunito:wght@400;700&display=swap');

:root {
    --font-primary: 'Nunito', sans-serif;
    --font-secondary: 'Londrina Solid', cursive;

    --font-size-content: 1rem;

    /// Grosseur des textes
    --font-size-h1: 4.7rem;
    --font-size-h2: 4rem;
    --font-size-h3: 2rem;
    --font-size-h4: 1.5rem;
    --font-size-h5: 1.5rem;
    --font-size-text-secondaire: 1.125rem;

    //Font-weigth
    --fw-bold: 700;
    --fw-regular: 400;
}
