/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&family=Nunito:wght@400;700&display=swap');

:root {
    --font-primary: 'Nunito', sans-serif;
    --font-secondary: 'Londrina Solid', cursive;

    --font-size-content: 1rem;

    /// Grosseur des textes
    --font-size-h1: 4.7rem;
    --font-size-h2: 4rem;
    --font-size-h3: 2rem;
    --font-size-h4: 1.5rem;
    --font-size-h5: 1.5rem;
    --font-size-text-secondaire: 1.125rem;

    //media 1440
    --font-size-1440-h1: 3.5rem;
    --font-size-1440-text: 0.9rem;

    //media 768
    --font-size-768-h1: 2rem;
    --font-size-768-h2: 3.2rem;
    //media 375
    --font-size-375-h1: 3.3rem;
    --font-size-375-h2: 2.5rem;
    --font-size-375-content: 0.8rem;

    //Font-weigth
    --fw-bold: 700;
    --fw-regular: 400;
}
